.red_home{
    /* border: 1px solid red; */
    overflow-x: hidden;
    width: 100%;
}
.sectors_mob{
    display: none;
}
.hero_Section {
    position: relative;
    width: 100%;
    height: 600px; /* Adjust the height as needed */
    overflow: hidden;
    
}

.blend_nav{
    
    width: 100%;
    position: absolute;
    top: 0%;
    /* border: 1px solid red; */
    z-index: 100;
}
.blend_nav .navbar{
    padding: 10px;
   height: 120px;
    margin: auto;
    background: rgba( 255, 255, 255, 0.75 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 1px );
-webkit-backdrop-filter: blur( 1px );

border: 1px solid rgba( 255, 255, 255, 0.18 );
}


.video_height {
    width: 100%;
    height: 100%;
    
    object-fit: cover;
}

.gsap_text{
    text-align: center;
    color: rgb(19, 1, 1); /* Change text color */
    font-size: 2rem; /* Adjust the font size as needed */
    font-weight: bold; /* You can add more styles here */
    font-family: 'Arial', sans-serif; /* Set the font family */
    /* text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); Optional: Add a text shadow for better readability */
     /* Optional: Add a background color with transparency */
    padding: 5px; /* Optional: Add some padding around the text */
    border-radius: 5px; /* Optional: Add rounded corners to the background */
    
}
.animated_text .gsap_text{
    width: 100%;
    position: absolute;
    top: 35%;
    text-align: center;
    /* border: 1px solid red; */
    font-size: 2rem; /* Adjust the font size as needed */
    pointer-events: none; /* Ensure text doesn't interfere with video controls */
}
.animated_text span {
    /* border: 1px solid red; */
    
    
    color: rgb(19, 1, 1); /* Change text color */
    font-size: 2rem; /* Adjust the font size as needed */
    font-weight: bold; /* You can add more styles here */
    font-family: 'Arial', sans-serif; /* Set the font family */
    /* text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); Optional: Add a text shadow for better readability */
     /* Optional: Add a background color with transparency */
    padding: 5px; /* Optional: Add some padding around the text */
    border-radius: 5px; /* Optional: Add rounded corners to the background */
    
}
.animated_text .desc_text{
    position: absolute;
    top: 15%;
    color: #030303;
    font-size: 24px;
   
    
}
  .sol_banner {
    width: 100%;
    height: 80vh;
     /* Make sure the image scales correctly */
  }
  
  .inner_container {
    width: 80%;
    position: absolute;
    top: 50%; /* Center vertically */
    left: 45%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Adjust for centering */
    /* Ensure text is visible on the image */
    /* Center text inside container */
    padding: 20px;
    /* border: 1px solid red; */
    border-radius: 10px; /* Optional: rounded corners */
  }


.inner_container .head_text{
      
        font-family: 'Poppins';
        font-size: 40px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.38;
        letter-spacing: 0.25px;
        text-align: left;
        color: rgba(3, 3, 3, 0.9);
      
}
.inner_container .desc_text{

    
    
    font-family: Poppins;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.45;
    letter-spacing: 0.5px;
    text-align: left;
    color: rgba(3, 3, 3, 0.9);
}
.contact_btn{
    width: 171px;
  height: 44px;
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
  padding: 10px 26px;
  border-radius: 4px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.06);
  border: solid 1px #e85123;
  background-color: #e85123;
    font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: 1px;
  text-align: left;
  color: #fff;
}
.contact_btn:hover{
    cursor: pointer;
    background: #fff;
    outline: #e85123;
    color: #e85123;
}
.mid_cont_1{
margin: 0 50px;


/* border: 2px solid red; */
}
.mid_cont_1 .top_cont .head_text{
    
    margin: 50px 25px 13px 0;
  font-family: Poppins;
  font-size: 30px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.38;
  letter-spacing: 1px;
  text-align: left;
  color: #030303;
}
.mid_cont_1 .top_cont .desc_text{
    margin: 13px 339px 68px 0;
    width: 45%;
    font-family: Poppins;
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.93;
    letter-spacing: 0.5px;
    text-align: left;
    color: rgba(3, 3, 3, 0.9);
}
 .cards_container_1{
   width: 100%;
   /* border: 1px solid red; */
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 45px;
}
.cards_container_1 .card{
    
        /* width: 384px; */
        /* height: 299px; */
        margin: auto;
        flex-grow: 0;
        border-radius: 10px;
        border: solid 0.5px rgba(147, 149, 152, 0.47);
        transition: background-color 0.3s, color 0.3s;
}
.card .card_vect{
   z-index: 100;
  flex-grow: 0;
  margin: 17px 34px ;
color: #fff;

}
.solutions_Slider{
    display: none;
}
.card .head_text{
    /* border: 1px solid red; */
    margin: 0 0 0 34px;
    font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.67;
  letter-spacing: 0.25px;
  text-align: left;
  color: #030303;
}
.card .desc_text{
    margin: 15px 0 0 34px;
   color: rgba(3, 3, 3, 0.90);
font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 24.5px; /* 175% */
letter-spacing: 0.25px;
}
 .follow-up{
    margin: 0 0 0 0;
    font-family: Inter;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.86;
  letter-spacing: 0.25px;
  text-align: left;
  color: #030303;
}
.explore{
    font-size: 16px;
    font-weight: 500;
   margin-left: 34px;
   margin-top: 38px;
}

.card:hover{
    background: #e85123;
    color: #fff;
}
.card:hover .desc_text{
    color: #fff;
}
.card:hover .head_text{
    color: #fff;
}
.card:hover  .follow-up{
    color: #fff;
}
.mid_cont_2{
    margin:  20px 0 0 0;
    /* border: 1px solid red; */
    display: flex;
}
.left{
    flex: 1;
    /* border: 1px solid red; */
}
.left_content .head_text{
    margin: 40px 50px 12px;
    font-family: Poppins;
  font-size: 30px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.38;
  letter-spacing: 1px;
  text-align: left;
  color: #030303;
}
.left_content .desc_text{
    margin: 0 50px 12px;
    font-family: Poppins;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2;
  letter-spacing: 0.25px;
  text-align: left;
  color: rgba(3, 3, 3, 0.9);
}

.left_content .mid_2_mob{
    display: none;
}
.tabs{
    display: flex;
    flex-direction: column;
    gap: 28px;
    margin-top: 54px;
    margin-left: 50px;
}
.tabs .tab{
    width: 445px;
  padding: 13px 24px 12px 19px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  border: solid 0.5px rgba(147, 149, 152, 0.47);
padding-top: 18px;
transition: background-color 0.3s, color 0.3s;

}
.tab .in_tab{
    display: flex;
    align-items: center;
}
.in_tab .tab_text{
    margin-left: 15px;
    font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.5;
  letter-spacing: 0.25px;
  text-align: left;
  color: rgba(3, 3, 3, 0.9);
}
.tab .in_tab img{
    width: 32px;
    height: 23.7px;
    
}
.tab:hover{
    background: #e85123;
    
}
.tab:hover .tab_text{
    color: #fff;
}
.right{
    flex: 1;
    /* border: 1px solid red; */
}
.mid_cont_2 .right img{
   margin: auto;
   
  height: 600px;
   width: 100%;
   
}

.mid_cont_3{
    
    margin: -20px 50px 90px 30px;
   
}
.mid_cont_3 .top_cont .head_text{
    /* border: 1px solid red; */
    margin-top: 5rem;
}
.mid_cont_3 .top_cont .head_text{
    margin-left: 20px;
    font-size: 30px;
}
.mid_cont_3 .top_cont .desc_text{
    margin-left: 20px;
}
.mid_cont_3 .cards_container_11{
    /* border: 1px solid red; */
    margin-left: 20px;
}
.mid_cont_4{
    
    display: flex;
/* border: 1px solid red; */
    margin: -80px 25px 0 0;
}
.mid_cont_4 .right .right_content .head_text{
    margin-right: 0;
    
}
.mid_cont_4 .right .right_content .desc_text{
    margin-right: 0;
    /* border: 1px solid red; */
}
.mid_cont_4 .right .right_content .tabs{
    margin-right: 0;
    /* border: 1px solid red; */
}
.mid_cont_4 .left img{
    width: 125%;
    height: 100%;
}

.left{
    flex: 1;
    
}
.left.left4 {
    position: relative;
    overflow: hidden;
}

.left.left4 img {
    position: relative;
    z-index: 1;
}

.left.left4::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 10%; /* Adjust the width of the fade as needed */
    background: linear-gradient(to right, rgba(255, 255, 255, 0), white); /* Adjust the gradient to fade to white */
    z-index: 2;
}


.right_content .head_text{
    margin: 40px 37px 12px;
    font-family: Poppins;
  font-size: 30px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.38;
  letter-spacing: 1px;
  text-align: right;
  color: #030303;
}
.right_content .desc_text{
    margin: 0 37px 12px;
    font-family: Poppins;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2;
  letter-spacing: 0.25px;
  text-align: right;
  color: rgba(3, 3, 3, 0.9);
}
.right_content .tabs{
    display: flex;
    flex-direction: column;
    gap: 28px;
    float: right;
    margin-top: 34px;
    margin-right: 37px;
}
.right_content .tabs .tab{
    width: 445px;
  padding: 13px 24px 12px 19px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  border: solid 0.5px rgba(147, 149, 152, 0.47);
padding-top: 18px;
transition: background-color 0.3s, color 0.3s;

}
.right_content .tabs .tab .in_tab{
    display: flex;
    align-items: center;
}
.in_tab .tab_text{
    margin-left: 15px;
    font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.5;
  letter-spacing: 0.25px;
  text-align: left;
  color: rgba(3, 3, 3, 0.9);
}
.tab .in_tab img{
    width: 32px;
    height: 23.7px;
    
}
.tab:hover{
    background: #e85123;
    
}
.tab:hover .tab_text{
    color: #fff;
}
.right{
    flex: 1;
}
.left4 img {
    width: 130%;
  
}

/* .left4::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%; 
    height: 100%;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1)); 
    pointer-events: none; 
} */

.mid_cont_5{
    margin: -30px 0 0 50px;
    padding-bottom: 35px;
    
}
.mid_cont_5 .top_cont .head_text{
    margin-top: 20px;
    font-size: 30px;
    line-height: 1.5;
}
.bottom_cont{
    margin-top: -40px;
    /* border: 1px solid red; */
    width: 80%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    row-gap: 87px;
    column-gap: 40px;
    
}
.mid_cont_5 .bottom_cont .single_list{
    width: 100%;
    margin-bottom: -50px;

    /* border: 1px solid red; */
}
.mid_cont_5 .contact_btn{
    margin:84px  0 64px 36px ;
}
.head{
    width: 80%;
    display: flex;
    justify-content: space-around;
}
.head .eclipse{
    width: 12px;
    height: 12px;
    flex-grow: 0;
    margin-top: 0.8rem;
   border-radius: 50%;
    background-color: #e85123;
}
.head .head_text{
    width: 100%;
    /* border: 2px solid red; */
    font-family: Inter;
    font-size: 18px;
    margin-left: 1.5rem;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: 0.25px;
    text-align: left;
    color: rgba(3, 3, 3, 0.9);
}
.single_list .desc_text{
    margin-top: 10px;
    margin-left: 36px;
    font-size: 15px;
}
.mid_cont_6{
    margin: -40px 0 0 50px ;
    padding-bottom: 35px;
    
    display: flex;
}
.mid_cont_6 .left{
    flex: 1;
   
}
.mid_cont_6 .left .top_cont{

    margin-top: -4rem;
    padding-top: 0;
}
.mid_cont_6 .left .top_cont .desc_text{
    width: 58%;
    /* border: 1px solid red; */
    margin-bottom: 10px;
}
.mid_cont_6 .left .top_cont .head_text{
   font-size: 30px;
    
}
.mid_cont_6 .right{
    flex: 1;
    float: left;
    /* border: 1px solid red; */
}


/* .testimonial{
    width: 76%;
} */
.testimonial .desc_text_2{
font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.22;
  letter-spacing: 0.25px;
  text-align: left;
  color: rgba(3, 3, 3, 0.9);
}
.mid_cont_4 .right .right_content .mid_2_mob{
    display: none;
}
.mid_cont_6 .left  .mid_m_6{
    display: none;
}

/* Marquee.css */
.marquee_container {
    overflow: hidden;
    position: relative;
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 100%;
    height: 100px; /* Adjust height as needed */
  }
  
  .marquee {
    display: flex;
    width: 200%; /* Twice the width to allow continuous scrolling */
    animation: marquee 15s linear infinite; /* Adjust duration as needed */
  }
  
  .marquee__group {
    display: flex;
    
    flex-shrink: 0;
  }
  
  .marquee__image {
    /* border: 1px solid red; */
    margin-right: 3rem; /* Adjust margin as needed */
  }
  
  @keyframes marquee {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }
  
/* marquee{
    display: flex;
    border: 1px solid black;
} */
@media only screen and (max-width: 600px) {
    .inner_container {
        /* border: 1px solid red; */
        width: 90%;
    }
    .inner_container .head_text{
        font-size: 20px;
        width: 100%;
        /* border: 1px solid red; */
        margin: 0;
    }
    .inner_container .desc_text{
        margin-top: 14px;
        color: rgba(3, 3, 3, 0.90);
font-family: Poppins;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 160% */
letter-spacing: 0.5px;
    }
    .sol_banner{
        /* border: 1px solid red; */
        width: 360px;
        height: 518px;
       
    }
    .mid_cont_1 .top_cont{
        margin: 0;
        
        margin-left: -2rem;
        margin-bottom: -18px;
        /* border: 1px solid red; */
    }
    .mid_cont_1 .top_cont .head_text{
        font-size: 20px;
        /* border: 1px solid red;  */
    }
    .mid_cont_1 .top_cont .desc_text{
        width: 100%;
        color: rgba(3, 3, 3, 0.90);
font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 22px; /* 157.143% */
letter-spacing: 0.5px;

    }
    .mid_cont_1 .cards_container_11{
        display: none;
     
    }
    .mid_cont_2{
        width: 100%;
        margin: 0;
       margin-top: 60px;
    }
    .mid_cont_2 .left{
        width: 100%;
        /* border: 1px solid red; */
    }
   .left .left_content{
       width: 100%;
      
    }
    .left_content .head_text{
        font-size: 20px;
        margin: 0;
        margin-left: 20px;
    }
    .left_content .desc_text{
        width: 93%;
       margin: 10px 20px;
    }
    .left_content img{
        display: block;
      width: 90%;
      margin: auto;
    }
    .tabs{
        margin: 20px 0;
    }
    .tabs .tab{
        width: 90%;
        margin: auto;
height: 53px;
padding: 8px;
flex-shrink: 0;
    }
    .mid_cont_2 .right{
        display: none;
    }
    .in_tab .tab_text{
        color: rgba(3, 3, 3, 0.90);
font-family: Inter;
font-size: 15px;
font-style: normal;
font-weight: 500;
line-height: 20px; /* 133.333% */
letter-spacing: 0.25px;
    }

    .mid_cont_3{
        width: 100%; 
        margin: 20px;
    }
    .mid_cont_3 .top_cont{
        margin: 0;
        margin-top: -4rem;
     
        margin-bottom: -18px;
        /* border: 1px solid red; */
    }
    .mid_cont_3 .top_cont .head_text{
        font-size: 20px; 
        margin-left: 0;
    }
    .mid_cont_3 .top_cont .desc_text{
        margin-left: 0;
        width: 80%;
        color: rgba(3, 3, 3, 0.90);
font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 22px; /* 157.143% */
letter-spacing: 0.5px;
padding-bottom: 20px;
    }
    .mid_cont_3 .cards_container_11{
        display: none;
        width: 100%;
        margin-left: -3rem;
        /*  */
        grid-template-columns: repeat(1,1fr);
    }
    .mid_cont_3 .cards_container_11 .card{
        margin: 0;
    }
    .mid_cont_4 {
        margin: 0;
        width: 100%;
       
        /* border: 1px solid red; */
    }
    .mid_cont_4 .left{
        width: 95%;
        /* border: 1px solid blue; */
        margin: auto;
        display: none;
    }
    .mid_cont_4 .left img{
        width: 130%;
height: 220px;
flex-shrink: 0;

    }
   
    .mid_cont_4 .right .right_content .tabs{
        border: 1px solid rgb(4, 0, 255);
        display: none;
    }
    .mid_cont_4 .right .right_content .head_text{
        color: #030303;
        margin-left: 1rem;
        font-family: Poppins;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        text-align: left;
        line-height: 25px; /* 138.889% */
        letter-spacing: 0.09px;
    }
    
    .mid_cont_4 .right .right_content img{
        width: 90%;
        margin-left: 18px;
        display: block;
    }
    .mid_cont_4 .right .right_content .desc_text{
        text-align: left;
        margin-left: 18px;
        margin-top: 20px;
    }
    .in_tab .tab_text{
        color: rgba(3, 3, 3, 0.90);
font-family: Inter;
font-size: 15px;
font-style: normal;
font-weight: 500;
line-height: 20px; /* 133.333% */
letter-spacing: 0.25px;
    }
    .mid_cont_4 .right .right_content .tabs{
        /* border: 1px solid red; */
        margin: auto;
    }
    .mid_cont_4 .right .right_content .tabs .tab{
      width: 100%;
        margin: auto;
height: 53px;
padding: 8px;
flex-shrink: 0;
    }

    /* mid 5 start */
    .mid_cont_5{
        /* border: 1px solid red; */
        margin: 0;
        margin-bottom: 20px;
    }
    .mid_cont_5 .top_cont .head_text{
        margin: 0;
         color: #030303;
        margin-left: 1rem;
        font-family: Poppins;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        text-align: left;
        line-height: 25px; /* 138.889% */
        letter-spacing: 0.09px;
    }
    .mid_cont_5 .top_cont .desc_text{
        margin-left: 1rem;
        width: 95%;
    }
    .mid_cont_5 .bottom_cont{
        /* border: 1px solid red; */
        width: 100%;
        
        margin-top: -2rem;
        grid-template-columns: repeat(1,1fr);
        gap: 20px;
    }
    .mid_cont_5 .bottom_cont .single_list{
        margin-left: 1rem;
    }
    .mid_cont_5 .bottom_cont .single_list .desc_text{
        /* border: 1px solid red; */
        width: 85%;
    }
    .mid_cont_5 .bottom_cont .single_list .head .head_text{
        color: rgba(3, 3, 3, 0.90);
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: 20px; /* 111.111% */
letter-spacing: 0.25px;
    }
    .mid_cont_5 .contact_btn{
        margin: 36px 50px ;
        display: inline-flex;
height: 36px;
width: 125px;
padding: 10px 16px;
justify-content: center;
align-items: center;
gap: 10px;
font-size: 14px;
flex-shrink: 0;
border-radius: 4px;
border: 1px solid #E85123;
background: #E85123;
box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.06);
    }
    /* mid 5 end */

    /* mid 6 start */
    .mid_cont_6{
        /* border: 1px solid red; */
        margin: 0;
        width: 100%;
        margin-top: -30px;
        display: block;
    }
    .mid_cont_6 .left{
        margin: 0;
        display: block;
    }
    .mid_cont_6 .left .top_cont .head_text{
        margin: 0;
        color: rgba(3, 3, 3, 0.90);
font-family: Poppins;
font-size: 18px;

font-style: normal;
font-weight: 700;
line-height: 29px; /* 161.111% */
letter-spacing: 0.5px;
text-transform: capitalize;
    }
    .mid_cont_6 .left .top_cont .desc_text{
        width: 100%;
       
        font-size: 14px;
    }
    .mid_cont_6 .right{
        display: none;
    }
    .mid_cont_6 .left  .mid_m_6{
        display: block;
        width: 90%;
        margin: 1rem ;
    }
    .mid_cont_6 .left .quote{
        margin: 30px 1rem;
    }
    .mid_cont_6 .left .testimonial {
        width: 100%;
        /* border: 1px solid blue; */
        padding: 0 1rem;
    }
    /* mid 6 end */
    .solutions_Slider{
        display: block;
    }
    
    .card{
        width: 312px;
        height: 306px;

        border-radius: 5px;
background: #E85123;
    }
    .card .redd .head_text{
        color: #FFF;
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: 24px; /* 133.333% */
letter-spacing: 0.25px;
    }
    .card .redd .follow-up{
        margin-top: -08px;
    }
  .sols_mob .card .desc_text{
        color: #FFF;
font-family: Poppins;
font-size: 13px;
font-style: normal;
font-weight: 400;
line-height: 19px; /* 146.154% */
letter-spacing: 0.5px;
    }
    .card .explore{
        color: #FFF;
font-family: Poppins;
font-size: 15px;
font-style: normal;
font-weight: 500;
line-height: 20px; /* 133.333% */
letter-spacing: 1px;
text-transform: capitalize;
    }
    .mid_cont_5 .bottom_cont .single_list{
        margin-bottom: 0;
    }
    .sectors_mob{
      display: block;  
    }
    .animated_text span{
        height: 60px;
        font-size: 1rem;
        line-height: 20px;
    }
    .animated_text p{
        font-size: 16px;
    }
}