.about_container{
    width: 100%;
    /* border: 2px solid rebeccapurple; */
    overflow-x: hidden;
}

.main{

    margin: 50px;
    margin-top: 0;
    margin-bottom: 0;
}
.top_cont{
    
}
.top_cont .head_text{
    margin-top: 40px;
    color: #030303;
    font-family: Poppins;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 55px; /* 137.5% */
    letter-spacing: 1px;
    
}
.top_cont .desc_text{
width: 100%;
color: rgba(3, 3, 3, 0.90);
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 187.5% */
letter-spacing: 0.5px;
margin-bottom: 0;
}
.mid_cont{
    margin: 40px 0;
    position: relative;
    /* border: 1px solid red; */
}
.mid_cont .mill_div{
    width: 100%;
    /* border: 1px solid red; */
}
.mid_cont .mill_div img{
    width: 100%;
}
.mid_cont .head_text{
   
    color: #030303;
font-family: Poppins;
font-size: 30px;
font-style: normal;
font-weight: 700;
line-height: 55px; /* 137.5% */
letter-spacing: 1px;
position: absolute;
top: 10%;
left: 50%;
transform: translate(-50%, -50%);
text-align: center;
}
.mid_cont .img_cont{
    position: absolute;
    width: 90%;
    display: flex;
    gap: 63px;
    /* border: 1px solid red; */
    top: 60%;
}
.img_cont .img_cards{
    width: 100%;
    border-radius: 10px;
background: rgba(255, 255, 255, 0.83);
}
.img_cont .img_cards .inner_img_cards{
    margin: 32px 44px 60px 44px;

}
.img_cont .img_cards .inner_img_cards .text_head{
    color: #030303;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    text-align: left;
    line-height: 40px; /* 166.667% */
    letter-spacing: 0.25px;
}
.img_cont .img_cards .inner_img_cards .text_desc{
    color: rgba(3, 3, 3, 0.90);
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 29px; /* 181.25% */
letter-spacing: 0.25px;
text-align: left;
}

.mid_cont_5 .top_cont .desc_text{
   margin-bottom: 70px;
}
.mid_cont2{
    width: 100%;
}
.mid_cont2 .right .head_text{
    margin-right: 50px;
    font-size: 30px;
}
.about_container .mid_cont_5{
    margin-left: 100px;
}
.mid_cont2 .right .btm_cont{
    margin-right: 50px;

}
.mid_cont2 .awards{
    /* border: 1px solid red; */
    margin-right: 12rem;
    width: 100%;
}
.mid_cont3 {
    margin: 50px 50px 50px 50px;
}
.mid_cont3 .About_top .head_text{
    color: rgba(3, 3, 3, 0.90);
    font-family: Poppins;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 55px; /* 137.5% */
    letter-spacing: 1px;
}
.mid_cont3 .about_members{
    width: 100%;

    margin-top: 89px;
    /* border: 1px solid red; */
    display: grid;
    gap: 85px;
    grid-template-columns: repeat(4,1fr);
}
.about_container .mid_cont_5{

    margin: 50px;
    /* border: 1px solid red; */
    width: 100%;
}
.about_members .single_member{
    /* border: 1px solid red; */
    
}
.about_members .single_member .mem_img{
   
}
.about_members .single_member .name{
    text-align: left;
    color: rgba(3, 3, 3, 0.90);
font-family: Poppins;
font-size: 24px;
font-style: normal;
font-weight: 500;
/* 125% */ 
margin-bottom: 4px;
letter-spacing: 0.25px;
}
.about_members .single_member .post{
    text-align: left;
    margin-left: auto;
    margin-top: 0;
    color: rgba(3, 3, 3, 0.90);
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 400;
/* border: 1px solid red; */
letter-spacing: 0.25px;
}
.about_container .mid_cont2{
    display: flex;
    width: 100%;
    
}
.about_container .mid_cont2 .left{
    flex: 1;
    /* border: 1px solid red; */
}
.about_container .mid_cont2 .left img{
    height: 600px;
}
.about_container .mid_cont2 .right{
    flex: 1;
}
.about_container .mid_cont2 .right .head_text{
    margin-top: 94px;
    margin-bottom: 104px;
    color: rgba(3, 3, 3, 0.90);
text-align: right;
font-family: Poppins;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: 55px; /* 137.5% */
letter-spacing: 1px;
}
.right .btm_cont .award1{
    display: flex;
    gap: 15px;
    text-align: right;
    float: right;
/* border: 1px solid red; */
}
.right .btm_cont .award2{
    display: flex;
    gap: 15px;
    text-align: right;
    float: right;
/* border: 1px solid red; */
}
.award2{
    margin-top: 30px;
}
.award1,.award2 .head_text1{
    color: #030303;
text-align: right;
font-family: Inter;
font-size: 23px;
font-style: normal;
font-weight: 600;
line-height: 40px; /* 173.913% */
letter-spacing: 0.25px;
}
 .award_year{
    list-style: disc;
    float: right;
    display: flex;
    gap: 30px;
}
.mid_cont_5 .top_cont .head_text{
    width: 50%; 
 
}
.mid_cont_5 .top_cont .desc_text{
    width: 50%; 
 
}
@media only screen and (max-width: 600px){

    .main{
        margin: 0;
        margin-top: 3rem;
    }
    .top_cont{
        margin: 20px;
    }
    .top_cont .head_text{
        color: #030303;
font-family: Poppins;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 24px; /* 133.333% */
letter-spacing: 0.5px;
    }
    .mid_cont .mill_div img{
        width: 100%;
height: 447px;
flex-shrink: 0;
    }
.mid_cont .head_text{
    width: 100%;
    color: #030303;
font-family: Poppins;
font-size: 18px;
font-style: normal;
text-align: left;
margin-left: 20px;
font-weight: 700;
line-height: 24px; /* 133.333% */
letter-spacing: 0.5px;
}
.mid_cont .img_cont{
    /* border: 1px solid red; */
    width: 100%;
    flex-direction: column;
    top: 55%;
    gap: 23px;
}
.img_cont .img_cards{
    width: 90%;
    height: 151px;
    border-radius: 5px;
    background: #E85123;
flex-shrink: 0;
    margin: auto;
}
.img_cont .img_cards .inner_img_cards{
    margin: 20px;

}
.img_cont .img_cards .inner_img_cards .text_head{
    color: #FFF;
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: 24px; /* 133.333% */
letter-spacing: 0.25px;
margin-bottom: 13px;
}
.img_cont .img_cards .inner_img_cards .text_desc{
    color: #FFF;
font-family: Poppins;
font-size: 13px;
font-style: normal;
font-weight: 400;
line-height: 19px; /* 146.154% */
letter-spacing: 0.5px;
}
.about_container .mid_cont2{
    flex-direction: column;
    margin: 0; 
    display: none;   
}

.about_container .mid_cont2 .right .head_text{
   margin-left: 20px;
    float: left;
    
    
    font-size: 18px;
    text-align: left;
}

.about_container .mid_cont2 .right .btm_cont .award1{
    margin: 0;
    border: 1px solid red;
}
.about_container .mid_cont_5{
    margin-left: 0;
    margin-top: 40px;
    width: 100%;
}
.mid_cont_5 .top_cont .head_text{
    width: 100%; 
    /* border: 1px solid red; */
    margin-left: -5px; 
}
.mid_cont_5 .top_cont .desc_text{
    width: 100%; 
    color: rgba(3, 3, 3, 0.90);
font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 22px; /* 157.143% */
letter-spacing: 0.5px;
    /* border: 1px solid red; */
    margin-left: -5px; 
}
.about_container .mid_cont3{
    margin: 10px;
}
.mid_cont3 .About_top .head_text{
    color: rgba(3, 3, 3, 0.90);
font-family: Poppins;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 29px; /* 161.111% */
letter-spacing: 0.09px;
text-transform: capitalize;
/* border: 1px solid red; */
margin-top: 30px;
}
.mid_cont3 .About_top .desc_text{
    color: rgba(3, 3, 3, 0.90);
font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 22px; /* 157.143% */
letter-spacing: 0.5px;
}
.mid_cont3 .about_members{
    width: 100%;
    display: none;
    margin-top: 39px;
    /* border: 1px solid red; */
   margin-left: 0;
    gap: 25px;
    grid-template-columns: repeat(2,1fr);
}
.about_members .single_member .name{
    font-size: 15px;
}
.about_members .single_member .post{
    font-size: 12px;
}
}