.carousel-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 400px; /* Adjust as needed */
    margin: auto;
    margin-top: 20px;
    margin-bottom: -80px;
    /* border: 1px solid red; */
}

.carousel-wrapper {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-slide {
    min-width: 100%;
    box-sizing: border-box;
    text-align: center;
}

.carousel-slide img {
    width: 100%;
    height: auto;
}

.carousel-button {
    position: absolute;
    top: 30%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.35);
    box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.37);
    backdrop-filter: blur( 1.5px );
    -webkit-backdrop-filter: blur( 1.5px );
   
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    color: white;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
}

.carousel-button.prev {
    left: 10px;
}

.carousel-button.next {
    right: 10px;
}
.carousel-indicators {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 5px;
  }
  
  .carousel-indicator {
    width: 10px;
    height: 10px;
    border: 2px solid #E85123; /* Hollow circle */
    border-radius: 50%;
    cursor: pointer;
  }
  
  .carousel-indicator.active {
    background: #E85123; /* Filled circle */
  }