.foot{
    background: #1f2122;
   
    margin-bottom: -1.2rem;
}

.footer{
    /* border: 1px solid red; */
   
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer_cont{
    
    flex: 1;
    margin: auto;
    margin-top: 59px;
    width: 90%;
    height: 80%;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  
    justify-content: center;
    align-items: center;
}
.footer_cont .serve_cont{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.footer_cont2{
    flex: 1;
}
.footer_cont2 .contents{
    /* border: 1px solid red; */
}
.footer_cont .contents{

width: 80%;

}
.contents .list_head{
    margin: 18px 0  18px 0;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.03px;
    text-align: left;
    color: #fff;
}
.contents .list_desc{
 font-family: Poppins;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.16px;
  text-align: left;
  color: rgba(255, 255, 255, 0.74);
}
.contents .quick_links{
    display: flex;
    justify-content: space-between;
    font-family: Poppins;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.16px;
  text-align: left;
  color: rgba(255, 255, 255, 0.74);
}
.quick_links p{
    cursor: pointer;
}
.list_head{
    margin: 38px 0  18px 0;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.03px;
    text-align: center;
    color: rgba(255, 255, 255, 0.74);
}
.footer_cont .contents:nth-child(2){
    /* margin-left: 20px; */
}
.footer_prod{
    margin-left: -28px;
}

.footer_cont .serve_list{
display: flex;
flex-direction: column;
/* border: 1px solid red; */
gap: 10px;
}
.serve_list .list_head{
    text-align: left;
    margin: 0;
    color: #fff;
}
.serve_list li{
    color: rgba(255, 255, 255, 0.74);
    cursor: pointer;
}
.serve_list li:hover{
    color: #fff;
}
@media screen and (max-width: 767px) {
    .footer{
        padding-top:30px ;
        height: auto;
        display: block;
    }
    .footer_cont{
       display: block;
       margin: 0;
    }
    .footer_cont .contents:nth-child(2){
        margin-left: 0;
    }
    .contents .quick_links{
        flex-direction: column;
        gap: 20px;
    }
    .footer_prod{
        margin-left: 0;
    }
    .ray_formula{
        width: 95%;
        margin: auto;
        margin-top: 20px;
        font-size: 18px;
    }
  }